<br> <br> <br> <br> <br>
<center>

<table>

<p class="unos">

<b> Izaberite jednu od sledeće dve opcije: </b>  <br>

{{#link-to 'dodajucenika'}} Dodajte učenika u razred {{/link-to}} <br>
{{#link-to 'dodajpredmet'}} Dodajte predmeta za slušanje u razredu {{/link-to}} <br>

</p>

</table>

</center>