<br> <br> <br> 
<center>
	<table>

		<h2> Kontakt informacije: </h2> <br>

		<b> Adresa: </b> Boze Šarčevića 21, 24000 Subotica, <br>
		<b> Telefon: </b> 024 548425 <br> <br>

		<img src="assets/images/school.png">

	</table>
</center>